---
import Button from "@/components/Button.svelte";
import CommonLayout from "@/layouts/CommonLayout.astro";
---

<CommonLayout title="Notas de Computación">
	<h1>Notas</h1>
	<Button label="Click aquí" />
</CommonLayout>
