---
import CommonLayout from "@/layouts/CommonLayout.astro";
import { getCollection } from "astro:content";

const notes = await getCollection("notes");
notes.sort((a, b) => a.data.id - b.data.id);
---

<CommonLayout title="Notas de Computación">
	<h1>Notas</h1>
	<p>Solo contempla las notas de Fundamentos de la Combinatoria (por ahora).</p>
    <ul>
	    {notes.map((note) => (
			<li>
				<a href={`/note/${note.id}`}>{note.data.title}</a>
			</li>
		))}
	</ul>
</CommonLayout>
